.Hero{
    box-sizing: border-box;
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.Hero-image{
    /* width: 99vw;
    margin: 5px auto; */
    width: 100vw;
    height: 350px;
    margin: 0px;
}
.SmallImage{
    /* width: 99vw;
    margin: 5px auto; */
    width: 100vw;
    height: 200px;
    margin: 50px 0px;

}
.Medical-stores-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}