.MedStoreDetails{
    width: 100vw;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.DetailsPartIP{
    width: 40%;
    height: 100%;
}
.MedStoreImageMain{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MedStoreImageIP{
    width: 70%;
    height: 100%;
}
.StoreDetailsIP{
    width: 100%;
    height: 50%;
    padding: 100px;
    gap: 10px;
    /* text-align: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.StoreProductsDetails{
    width: 60%;
    height: 100%;
}
.CategoryListP{
    display: flex;
    margin: 10px;
}
.OffersList{
    list-style: none;
}
