.HeadingHealthConcers{
    box-sizing: border-box;
    width: 100vw;
    font-size: large;
    margin: 0px;
    margin-top: -4px;
    padding: 15px 50px 0px;
    background-color: whitesmoke;
    font-weight: 500;
}
.HealthConcerns{
    min-width: 100vw;
    max-width: auto;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.HealthConcerns::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
.HealthConcerns {
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.HealthConcerns {
    overflow: -moz-scrollbars-none; /* Old Firefox versions */
}

.HealthProblemsList{
    width: auto;
    height: 200px;
    margin: auto;
    align-content: center;
}
.HealthProblemImage{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    transition: 0.2s;
    margin: auto 50px;
}
.HealthProblemName{
    margin: auto;
    text-align: center;
}
.SeeMore-HC{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border-radius: 50%;
    position: relative;
    right: 25px;
    background-color: white;
}